<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <env name="PAYPAL_NVP_BASE_URI" value="https://api-3t.sandbox.paypal.com/nvp"/>
        <env name="PAYPAL_NVP_USERNAME" value=""/>
        <env name="PAYPAL_NVP_PASSWORD" value=""/>
        <env name="PAYPAL_NVP_SIGNATURE" value=""/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
